
@font-face {
  font-family: 'HelveticaNeue-LightExt';
  src: url('HelveticaNeue-LightExt.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-LightExt.otf')  format('opentype'),
	     url('HelveticaNeue-LightExt.woff') format('woff'), url('HelveticaNeue-LightExt.ttf')  format('truetype'), url('HelveticaNeue-LightExt.svg#HelveticaNeue-LightExt') format('svg');
  font-weight: normal;
  font-style: normal;
}
